html {
    box-sizing: border-box;

    --bg: #FCFCFC;
    --text-color: #000;
    --alternativa-correta: #555;
}
* {
    margin: 0 auto;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
    height: 100%;

    background-color: var(--bg);
}

#app {
    display: flex;
    flex-direction: column;
}

h3 {
    color: var(--text-color);
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}

#divTema {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    align-items: center;
}

#divAtividade {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#divAlternativas,#divResposta {
    max-width: 50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 10px;

}

#divAlternativas img{
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px auto;
    height: auto;
    border: 1px solid transparent;
}

#divAlternativas img:hover{
    border-color: rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30), 0 2px 6px 2px rgba(60,64,67,.15);
}


#divResposta img{
    margin-bottom: 20px;
}

#divAlternativaCorreta {
    min-width:140px;
    min-height:80px;
    border: 2px dotted var(--alternativa-correta);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divAlternativaCorreta img{
    margin: 0;
}
